/* Site footer */

#colophon {
	max-width: $desktop_width;
	margin: 0 auto;

	.site-info {
		.site-logo .custom-logo-link {
			float: none;
		}

		.site-logo {
			margin-top: 8em;
		}

		p {
			width: 60%;
			font-size: $font__size-sm;
			line-height: $font__size-md;
		}
		padding: 1.5% $size__site-margins 5%;
	}

	.footer-menu {
		> li { 
			display: inline-block;
			vertical-align: top;

			@media only screen and (max-width: $tablet_width) {
				display: block;
			}

			&:last-child {
				float: right;
				@media only screen and (max-width: $tablet_width) {
					float: none;
				}
				
			}
			a {
				font-size: $font__size-lm;
				line-height: $font__size_xs;

				@media only screen and (min-width: 1040px) and (max-width: $desktop_width){
					font-size: $font__size-md;
					line-height: $font__size_xs;
				}
				@media only screen and (max-width: 1040px){
					font-size: $font__size-xs;
					line-height: $font__size_xs;
				}
				
			}

			> a {
				font-weight: $font__champions_regular;
			}
			

			ul.sub-menu {
				padding-top: .75em;
				padding-left: 0px;
				@media only screen and (max-width: $tablet_width) {
					padding-top: 0em;
				}
				@media only screen and (max-width: $tablet_width) {
					padding-bottom: 1em;
				}

				li {
					display: block;
					@media only screen and (max-width: $tablet_width) {
						display: inline-block;
					}
				}
				
			}
		}
	}
}